<mtapp:setting
	id="nakanohito_id"
	label="nakanohito_id"
	hint="nakanohito_id."
	show_hint="1">
	<input type="text" name="nakanohito_id" id="login_id" value="<mt:var name="nakanohito_id">" size="30"/>
</mtapp:setting>
<mtapp:setting
	id="nakanohito_pw"
	label="nakanohito_pw"
	hint="nakanohito_pw."
	show_hint="1">
	<input type="password" name="nakanohito_pw" id="login_password" value="<mt:var name="nakanohito_pw">" size="10"/>
</mtapp:setting>
<mtapp:setting
	id="nakanohito_num"
	label="nakanohito_num"
	hint="nakanohito_num."
	show_hint="1">
	<input type="text" name="nakanohito_num" id="footprint_num" value="<mt:var name="nakanohito_num">" size="3"/>
</mtapp:setting>
