<mtapp:setting
	id="nakanohito_id"
	label="<MT_TRANS phrase='nakanohito_id'>"
	hint="<MT_TRANS phrase='user id.(generaly e-mail address)'>"
	show_hint="1">
	<input type="text" name="nakanohito_id" id="login_id" value="<mt:var name="nakanohito_id">" size="30"/>
</mtapp:setting>
<mtapp:setting
	id="nakanohito_pw"
	label="<MT_TRANS phrase='nakanohito_pw'>">
	<input type="password" name="nakanohito_pw" id="login_password" value="<mt:var name="nakanohito_pw">" size="10"/>
</mtapp:setting>
<mtapp:setting
	id="nakanohito_num"
	label="<MT_TRANS phrase='nakanohito_num'>"
	hint="<MT_TRANS phrase='number of display footprints.'>"
	show_hint="1">
	<input type="text" name="nakanohito_num" id="footprint_num" value="<mt:var name="nakanohito_num">" size="3"/>
</mtapp:setting>
