<mtapp:widget
	class="widget hw-widget"
	label="<MT_TRANS phrase='nakanohito footprint'>"
	can_close="1">

    <mt:if name="nakanohito_num">
    <p><MT_TRANS phrase='There are  recent [_1] visitors footprints.' params='<mt:var name="nakanohito_num">'></p>
    </mt:if>
	<mt:if name="error">
	<p><mtvar name="error"></p>
	</mt:if>
	<mt:if name="footprint">
		<table cellpadding="0" margin="0">
		<mt:loop name="footprint">
			<tr><td align="right" width="90" valign="top"><mt:var name="time"></td>
			<td width="200" valign="top">&nbsp;&nbsp;&nbsp;<mt:var name="visitor"></td></tr>
		</mt:loop>
		</table>
	</mt:if>
    <p align="right">Powered by <a href="http://nakanohito.jp/stage/login_form/" target="blank"><MT_TRANS phrase='nakanohito'></a></p>

</mtapp:widget>